<!DOCTYPE html>
<html>

<head>
    <title>Bird Loading Animation</title>
    <link rel="stylesheet" type="text/css" href="Preloader Spinner.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="Preloader Spinner.js"></script>
</head>

<body>
    <!--Preloader-->
    <div class="preloader">
        <img src="Preloader Spinner.svg" alt="spinner">
    </div>

    <!--Web page-->
    <div class="box">
        <h1>Hello World!</h1>
    </div>
</body>

</html>