<!DOCTYPE html>
<html>

<head>
	<title>Bird Loading Animation</title>
	<link rel="stylesheet" type="text/css" href="Preloader Bird.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="Preloader Bird.js"></script>
</head>

<body>
	<!--Preloader-->
	<div class="wrapper">
		<div class="bird">
			<div class="hair-container">
				<div class="hair"></div>
			</div>
			<div class="face">
				<div class="white-container">
					<div class="white"></div>
				</div>
				<div class="shadow-container">
					<div class="shadow"></div>
				</div>
				<div class="bigBeak-container">
					<div class="bigBeak"></div>
				</div>
				<div class="smallBeak-container">
					<div class="smallBeak"></div>
				</div>
				<div class="eye"></div>
			</div>
		</div>
	</div>

	<!--Web page-->
	<div class="box">
		<h1>Hello World!</h1>
	</div>
</body>

</html>