.global {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*CSS of the box defined in the body*/
#box {
    width: 200px;
    height: 200px;
    border: 3px solid black;
}