/*
The @font-face Rule
The @font-face rule allows custom fonts to be loaded into a webpage.
With the help of this rule, designs are no longer limited to the fonts that are installed on a user's computer.
In Internet Explorer 8 and earlier, the URL must point to an Embedded OpenType (eot) file, 
while Firefox, Chrome, etc. support True Type Fonts (ttf) fonts and OpenType Fonts (otf).
*/
@font-face {
    font-family: Delicious;
    src: url('Delicious-Roman.otf');
}

@font-face {
    font-family: Delicious;
    font-weight: bold;
    src: url('Delicious-Bold.otf');
}

h1 {
    font-family: Delicious, sans-serif;
}